.App {
  text-align: center;
}


.navbar {
  width: 100%;
  height: 80px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;

}

.Main {
  font-size: 25px;
  font-family: cursive;
  color:cadetblue
}

.Post{
  font-size: 28px;
  font-family: Brush Script MT;
  font-weight: 100;
  color: blueviolet;
}
 
.link a {
  margin: 10px;
}

.link a:hover {
  cursor: pointer;
  font-weight: bolder;
}